body{
    color: darkcyan;
    background-color: rgba(56, 57, 58, 0.932);
    font: normal 15pt Arial;
}

header {
    color: darkcyan;
    text-align: center;

}

section {
    background: rgb(78, 78, 78);
    border-radius:10px ;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(31, 30, 30);
}

footer{
    color:darkcyan;
    text-align: center;
    font-style: italic;
    
    
}

div { padding: 10px;
    
    
}

input {
    background-color: rgb(228, 233, 247);
    border-color: darkcyan;
    border-radius: 10px;
}


select {
    color: darkcyan;
    background-color: rgb(235, 229, 229);
    border-radius: 7px;
    border: cyan;
    size: 12px;
    box-shadow: 3px 3px 5px darkcyan;
    
}